body{
	background-color:rgb(250, 217, 179);
}
.container{
	width: 950px;
	margin: 0 auto;
	height: 300px;
	text-align: center;
}
h1{
	margin: 10px;
}
.subpage {
	display: flex;
	justify-content: space-between;  
	align-items: flex-start; 
	width: 990px;	
	padding: 20px; 
	height: 340px;
	position: relative; 
	margin-top: 40px;
	
}
.subpage strong{
	font-size: 26px;
	font-family:"a-otf-jun-pro", sans-serif;
	line-height: 38px;
	border-bottom: 2px solid rgb(239, 87, 125);
	padding-bottom: 5px;
}
.subpage div{
	/* width: 100%; */
	/* margin-top: 20px; */
	margin: 0 auto;
	
}
.subpage p{
	font-size: 17px;
	line-height: 44px;
	background-color: #c4e592;
	margin-top: 30px;
	text-align: left;
	font-family: "kozuka-gothic-pr6n", sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-left: 30px;
	padding-bottom: 10px;
}
.subpage span{
	padding-top: 50px;
	text-align: center;
	border-bottom: 5px solid rgb(239, 87, 125);
	padding-bottom: 5px;
	font-family: "a-otf-jun-pro", sans-serif;
	margin-left: 40px;
}
.subpage a{
	font-family: "a-otf-jun-pro", sans-serif;
	padding-left: 70px;
	text-align: center;
}
